@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @font-face {
    font-family: 'VisbyRoundCF-Regular';
    src:url('../public/font/VisbyRoundCF-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VisbyRoundCF-Bold';
    src: url('/public/font/VisbyRoundCF-Bold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VisbyRoundCF-light';
    src: url('../public/font/VisbyRoundCF-Light.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'VisbyRoundCF', sans-serif;
 
  }
   

  
  
  